Concesionario/Concesionario/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CrearBaseDatos">
        <s:complexType />
      </s:element>
      <s:element name="CrearBaseDatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrearBaseDatosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearTable">
        <s:complexType />
      </s:element>
      <s:element name="CrearTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrearTableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveAuto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="placa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="marca" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="modelo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="color" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveAutoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveAutoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarAuto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="criterioBusqueda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarAutoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarAutoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarAuto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="placa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="marca" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="modelo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="color" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarAutoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActualizarAutoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarAuto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="placa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarAutoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EliminarAutoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validar_numero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="texto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Validar_numeroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Validar_numeroResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Formulario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="placa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="marca" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="modelo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="color" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FormularioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FormularioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CrearBaseDatosSoapIn">
    <wsdl:part name="parameters" element="tns:CrearBaseDatos" />
  </wsdl:message>
  <wsdl:message name="CrearBaseDatosSoapOut">
    <wsdl:part name="parameters" element="tns:CrearBaseDatosResponse" />
  </wsdl:message>
  <wsdl:message name="CrearTableSoapIn">
    <wsdl:part name="parameters" element="tns:CrearTable" />
  </wsdl:message>
  <wsdl:message name="CrearTableSoapOut">
    <wsdl:part name="parameters" element="tns:CrearTableResponse" />
  </wsdl:message>
  <wsdl:message name="SaveAutoSoapIn">
    <wsdl:part name="parameters" element="tns:SaveAuto" />
  </wsdl:message>
  <wsdl:message name="SaveAutoSoapOut">
    <wsdl:part name="parameters" element="tns:SaveAutoResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarAutoSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarAuto" />
  </wsdl:message>
  <wsdl:message name="BuscarAutoSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarAutoResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarAutoSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarAuto" />
  </wsdl:message>
  <wsdl:message name="ActualizarAutoSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarAutoResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarAutoSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarAuto" />
  </wsdl:message>
  <wsdl:message name="EliminarAutoSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarAutoResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Validar_numeroSoapIn">
    <wsdl:part name="parameters" element="tns:Validar_numero" />
  </wsdl:message>
  <wsdl:message name="Validar_numeroSoapOut">
    <wsdl:part name="parameters" element="tns:Validar_numeroResponse" />
  </wsdl:message>
  <wsdl:message name="FormularioSoapIn">
    <wsdl:part name="parameters" element="tns:Formulario" />
  </wsdl:message>
  <wsdl:message name="FormularioSoapOut">
    <wsdl:part name="parameters" element="tns:FormularioResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="CrearBaseDatos">
      <wsdl:input message="tns:CrearBaseDatosSoapIn" />
      <wsdl:output message="tns:CrearBaseDatosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearTable">
      <wsdl:input message="tns:CrearTableSoapIn" />
      <wsdl:output message="tns:CrearTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveAuto">
      <wsdl:input message="tns:SaveAutoSoapIn" />
      <wsdl:output message="tns:SaveAutoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarAuto">
      <wsdl:input message="tns:BuscarAutoSoapIn" />
      <wsdl:output message="tns:BuscarAutoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarAuto">
      <wsdl:input message="tns:ActualizarAutoSoapIn" />
      <wsdl:output message="tns:ActualizarAutoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarAuto">
      <wsdl:input message="tns:EliminarAutoSoapIn" />
      <wsdl:output message="tns:EliminarAutoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Validar_numero">
      <wsdl:input message="tns:Validar_numeroSoapIn" />
      <wsdl:output message="tns:Validar_numeroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Formulario">
      <wsdl:input message="tns:FormularioSoapIn" />
      <wsdl:output message="tns:FormularioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearBaseDatos">
      <soap:operation soapAction="http://tempuri.org/CrearBaseDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearTable">
      <soap:operation soapAction="http://tempuri.org/CrearTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAuto">
      <soap:operation soapAction="http://tempuri.org/SaveAuto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAuto">
      <soap:operation soapAction="http://tempuri.org/BuscarAuto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarAuto">
      <soap:operation soapAction="http://tempuri.org/ActualizarAuto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAuto">
      <soap:operation soapAction="http://tempuri.org/EliminarAuto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validar_numero">
      <soap:operation soapAction="http://tempuri.org/Validar_numero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Formulario">
      <soap:operation soapAction="http://tempuri.org/Formulario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearBaseDatos">
      <soap12:operation soapAction="http://tempuri.org/CrearBaseDatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearTable">
      <soap12:operation soapAction="http://tempuri.org/CrearTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAuto">
      <soap12:operation soapAction="http://tempuri.org/SaveAuto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAuto">
      <soap12:operation soapAction="http://tempuri.org/BuscarAuto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarAuto">
      <soap12:operation soapAction="http://tempuri.org/ActualizarAuto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAuto">
      <soap12:operation soapAction="http://tempuri.org/EliminarAuto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Validar_numero">
      <soap12:operation soapAction="http://tempuri.org/Validar_numero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Formulario">
      <soap12:operation soapAction="http://tempuri.org/Formulario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:60104/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:60104/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>